<!DOCTYPE html>
<html>
<head>
    <% include header %>
</head>
<body>
    <% include navbar %>
    <div class="container gp_container">
        <% if(guineapig){ %>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <img class="gp_img" src="/images/<%= guineapig.image %>" /> <!--In this case /images/ worked-->
                    <h2>"Like This!" or "Not That!"</h2>
                    <h3><%= guineapig.name %></h3>
                    <a href="/vote/likethis/<%= guineapig.id %>">
                        <button class="btn btn-primary">LIKE THIS!</button>
                    </a>  
                    <a href="/vote/notthat/<%= guineapig.id %>">
                        <button class="btn btn-danger">NOT THAT!</button>
                    </a> 
                </div>
            </div>
        <% } %>  
        <div class="row text-center">
            <div clss="col-sm-12 text-center">
                <h2 class="text-info"><%= msg %>
            </div>
        </div>
    </div>
</body>
</html>